@page
@model MVC_Project.Views.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employe.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employe.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employe.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employe.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employe.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employe.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employe.JoinDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employe.JoinDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employe.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employe.EntryDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employe.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
